
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
    <style>
       
        #map {
            height: 800px;
            width: 900px;
        }
       
        
    </style>
</head>
<body>
   
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: { lat: -34.397, lng: 150.644 }
            });
            var geocoder = new google.maps.Geocoder();

            
                geocodeAddress(geocoder, map);
           
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address =  "проспект Свободи, 28,Lviv,Ukraine";
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                   
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCearFRazfBuhb5dLITBhnew4NPWueLDQw&v=3&callback=initMap">
    </script>

</body>
</html>