.main-photo {
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 550px;
    background: #45a743;
}

.monument-name {
    font-size: 64px;
    font-weight: bold;
    
}

.adress-line {
    padding-top: 28px;
    font-size: 18px;
}

.modal-header .row {
    
    width: 100%;
    height: 100px;
}

.description-line {
    display: block;
    padding-top: 10px;
    width:100%;
    height: 270px;
}

.like-line {
   
    padding-top: 32px;
   
}

.numoflikes-line
{
    position: absolute;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    
}


.comments{
    width: 100%;
    background: #808080;
    height: 800px;
    border-radius: 6px;
}

